<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Albums</title>
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.js}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/static/css/style.css}" />
</head>
<body>
	<div th:replace="fragments.html::header"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<br>
				<h3 class="text-center">ALBUMS</h3>
				<br>

				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr class="table-success">
								<th>ID</th>
								<th>TITLE</th>
								<th>RELEASE DATE</th>
								<th>SINGER</th>
								<th>LOGO</th>
								<th>SONGS</th>
								<th>MANAGE</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="7" class="text-center"
									th:if="${#lists.isEmpty(page.content)}">No&nbsp;Data</td>
							</tr>
							<tr th:each="album : ${page.content}">
								<td th:text="${album.id}"></td>
								<td th:text="${album.title}"></td>
								<td
									th:text="${#temporals.format(album.releaseDate, 'dd.MM.yyyy')}"></td>
								<td th:text="${album.singer.name}"></td>
								<td><img width="100" height="100"
									th:src="'data:image/jpeg;base64, ' + ${album.getLogoStr()}" /></td>
								<td>
									<div th:each="song : ${album.songs}" th:text="${song.title}"></div>
								</td>
								<td><a th:href="@{'/edit_album?id=' + ${album.id}}"
									class="btn btn-primary">Edit</a> <a
									th:href="@{'/delete_album?id=' + ${album.id}}"
									class="btn btn-danger">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<br> <br><br> <br> <br>
				<div th:replace="fragments.html::pagination"></div>
			</div>
		</div>
		
	</div>
</body>
</html>