<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Singer form</title>
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.js}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/static/css/style.css}" />
</head>
<body>
	<div th:replace="fragments.html::header"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<br>
				<h3 class="text-center">SINGER FORM</h3>
				<br>

				<form th:action="@{/save_singer}" th:object="${singer}"
					method="post" enctype="multipart/form-data">

					<input type="hidden" th:field="*{id}">

					<div class="form-group row">
						<label for="name"
							class="col-sm-2 offset-sm-2 col-form-label text-right">NAME</label>
						<div class="col-sm-6">
							<input type="text" id="name" class="form-control"
								th:field="*{name}">
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								th:class="text-danger"></p>
						</div>
					</div>

					<div class="form-group row">
						<label for="birthDate"
							class="col-sm-2 offset-sm-2 col-form-label text-right">BIRTH&nbsp;DATE</label>
						<div class="col-sm-6">
							<input type="text" id="birthDate" class="form-control"
								th:field="*{birthDate}">
							<p th:if="${#fields.hasErrors('birthDate')}"
								th:errors="*{birthDate}" th:class="text-danger"></p>
						</div>
					</div>

					<div class="col-sm-6 offset-sm-4" th:if="${singer.getPhotoStr().length() > 0}">
						<img width="100" height="100"
							th:src="'data:image/jpeg;base64, ' + ${singer.getPhotoStr()}" /><br><br>
					</div>

					<div class="form-group row">
						<label for="file"
							class="col-sm-2 offset-sm-2 col-form-label text-right">PHOTO</label>
						<div class="col-sm-6">
							<input type="file" id="file" name="file" class="form-control"
								accept=".jpg, .png"> <input type="hidden"
								th:field="*{photo}">
							<p th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"
								th:class="text-danger"></p>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6 offset-sm-4">
							<div class="btn-group">
								<button type="submit" class="btn btn-primary">Save</button>
								<button type="reset" class="btn btn-secondary">Reset</button>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>